<app-page-header (onBurguerMenuClick)="menu.toggle()" (onCartDetailOpenedChange)="onCartOpenedChange($event)"
  (onNewProductClick)="openNewProductModal($event)" />
<div class="page-body">
  <mat-sidenav-container class="sidenav-container" hasBackdrop="false">
    <mat-sidenav #menu class="sidenav-menu" autoFocus="false" [attr.role]="(isMobile | async) ? 'dialog' : 'navigation'"
      [mode]="(isMobile | async) ? 'push' : 'side'" [opened]="(isMobile | async) === false">
      <mat-nav-list>
        @for (route of firstLevelRoutes; track $index) {
        @if (route.data) {
        <a mat-list-item [routerLink]="route.path" routerLinkActive #link="routerLinkActive"
          [activated]="link.isActive">
          <mat-icon matListItemIcon>{{ route.data['icon'] }}</mat-icon> {{ route.title }}
        </a>
        }
        }
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav #cart class="sidenav-cart" mode="over" [opened]="isCartOpened" position="end">
      <app-cart />
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="page-content"><router-outlet /></div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
<app-page-footer />